################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SphynxVanityBTCAddressGenerator
/SilentCore
SphynxAntivirus/bin/Debug/net8.0-windows/logs.txt
.vs/SphynxAntivirus/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/SphynxAntivirus/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/SphynxAntivirus/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
